.cm-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 180px;
  margin-top: 0;
  background-color: $black;
  height: 50px;
  color: $white;
  z-index: 999;

  @media #{$netbook} { padding: 10px 20px; }

  a {
    color: $white;
    margin: 10px;

    &:hover {
      color: $gray-light;
      text-decoration: none;
    }    

    @media #{$netbook} { margin-left: 0; }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 50px;

    li {
      padding: 4px 0px;
      margin: 0;
      display: inline;

      > a {
        @media #{$phone} { font-size: 14px; }
      }
    }
  }

  .footer-logo {
    height: 20px;
  }

}