.home-splash {
  & {
    background: url('/images/home/bg.svg') no-repeat center bottom;
    background-size: cover;
    color: $black;
    display: inline-block;
    height: 65vh;
    width: 100%;
    position: relative;
    padding: 50px 150px;
    border: none;
    min-height: 350px;

    @media #{$netbook} { height: 50vh; padding: 20px 20px 0px; }
  }

  .home-left {
    margin-left: auto;
    text-align: left;

    .head {
      font-size: 29px;
      margin: 20px 0px;
    }

    .body {
      font-size: 21px;
      margin: 20px 0px;
    }
  }

  .home-right {
    margin-top: 80px;
    margin-right: auto;
    text-align: left;

    @media #{$netbook} { margin-top: 30px; text-align: center; }

    .head {
      @media #{$netbook} { font-size: 36px; }
    }

    .body {
      @media #{$netbook} { font-size: 18px; }
    }
  }

  .logo {
    max-width: 300px;
    margin: 30px 0px;
  }
}

.section {

  &.-address {
    height: 50vh;
    color: $white;
    background: $navy-blue;
    text-align: center;
    position: fixed;
    padding: 60px 200px;
    min-height: 210px;
    margin-top: -20px;
    transform: skewY(4deg);
    bottom: -40px;
    width: inherit;
    z-index: 1;

    @media #{$netbook} { padding: 60px 20px; position: relative; bottom: -50vh; }

    > .main-container {
      transform: skewY(-4deg);
    }

    .head {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 1px;

      @media #{$netbook} { font-size: 14px; }
    }

    .mymonero {
      color: $orange;
      font-size: 14px;
      text-transform: uppercase;

      @media #{$netbook} { font-size: 12px; }

      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }

    .cm-form {
      width: 600px;
      @media #{$netbook} { height: 120px; margin: auto; }

      > .input-group {
        margin: auto;

        .cm-input {
          height: 60px;
        }

        .cm-btn {
          height: 60px; 
          width: 200px;
        }  
      }
    }
  }

  &.-instruction {
    height: 108vh;
    color: $black;
    text-align: center;
    padding: 40px 200px;
    background-color: $white;
  }

  > .main-container {

    > .header {
        & { margin-bottom: 20px; }

        > .body {
          max-width: 300px;
          margin: auto;

          &.-card {
            text-transform: uppercase;
            font-weight: 600;
          }
        }
    }
  }

}

.content {
  > .content-item {
    & { padding: 20px; }

    > .head {
      font-size: 24px;
    }
  }
}

.modal {
  .modal-content {
    padding: 50px;
  }

  .modal-header {
    border: none;

    > .modal-title {
      font-size: 40px;
      color: $gray-lighter;
      font-family: $head-font;
    }

    > .close {
      font-size: 50px;
      font-weight: 200;
      color: $black;
      opacity: 0.9;
    }
  }
}

#modal-privacy-policy, #modal-terms-and-conditions {
  > .modal-dialog {
    transform: translate(0, 0%) !important;
  }
}

@media #{$tablet} {
  .section {
    & {
      padding: 0px;
    }
    &.-instruction {
      min-height: 700px;
    }
    &.-statistics {
      min-height: 1000px;
    }
    &.-getstarted {
      min-height: 900px;
    }
  }
}

.card-image.img
{
  height:150px;
}


.card {
  box-shadow: 0px 25px 30px #c4c1c1 !important;
  margin: 5px;
  position: relative;

  &.-home {
    border: none;
    box-shadow: 0px 5px 15px #000 !important;
    z-index: 2;
    border-radius: 6px;

    .content-countdown {
      background: url('/images/home/draw-bg.png') no-repeat center center fixed;
      background-size: cover;
      min-height: 200px;
      color: $white;
      padding: 25px;
      font-weight: 600;
      text-align: center;

      @media #{$netbook} { min-height: 150px; }

      > .card-title {
        font-weight: 600;
        display: block;
        text-align: left;
      }
      
      > .cd-item {
        padding: 10px 0px;
        background: $white;
        text-align: center;
        display: inline-block;
        min-width: 85px;

        @media #{$netbook} { min-width: 80px; }
        @media #{$phone} { min-width: 55px; }

        > .number {
          font-weight: 600;
          font-size: 36px;
          color: $orange;

          @media #{$netbook} { font-size: 28px; }
          @media #{$phone} { font-size: 24px; }
        }

        > .rep {
          color: $gray-lighter;
          font-size: 16px;
          text-transform: uppercase;

          @media #{$netbook} { font-size: 12px; }
          @media #{$phone} { font-size: 10px; }
        }
      }  
       
    }

    .content-pot {
      background: $white;
      padding: 10px 25px;

      > .pot-title {
        float: left;
        line-height: 40px;
        font-weight: 600;
        
      }

      > .pot-value {
        float: right;
        font-weight: 600;
        font-size: 28px;
        color: $gray-light;
        font-family: $head-font;
      }
    }
  }

  .card-content {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    padding: 15px;
    font-weight: 600;
  }

  .card-body {
    padding: 0px;
  }
}