$large-desktop: “screen and (max-width: 1680px)”;
$small-desktop: “screen and (max-width: 1280px)”;
$ultrabook: “screen and (max-width: 1366px)”;
$netbook: “screen and (max-width: 1280px)”;
$ipad: “screen and (max-width: 1024px)”;
$tablet: “screen and (max-width: 768px)”;
$phone: “screen and (max-width: 640px)”;
$small-phone: “screen and (max-width: 480px)”;
$low-end-phone: “screen and (max-width: 320px)”;
